<div fxLayoutAlign="start center">
  <div fxFlex fxLayout="column" fxLayoutGap="10px">
    <div
      fxFlex
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="space-evenly stretch"
      style="padding: 10px"
      fxLayoutGap="10px"
    >
      <div fxFlex.gt-xs="40%">
        <mat-card fxFlex fxLayout="column" fxLayoutGap="10px">
          <div class="list">
            <div fxLayout="row" fxLayoutAlign="start center">
              <h2 class="mat-title text-dark">Registros</h2>
            </div>
            <div
              class="alert"
              fxLayout="row"
              fxLayoutGap="10px"
              [fxHide]="entity$|async"
            >
              <div>
                <div>
                  <mat-icon class="icon-alert">error</mat-icon>
                </div>
              </div>
              <div>No se encontraron mantenimientos recientes.</div>
            </div>
            <records
              [entity]="entity$|async"
              (maintenance)="details($event)"
            ></records>
          </div>
        </mat-card>
      </div>

      <div fxFlex.gt-xs="45%">
        <mat-card fxFlex fxLayout="column" fxLayoutGap="10px">
          <div class="list">
            <!-- <div fxLayoutAlign="center">
                <mat-spinner diameter="30"></mat-spinner>
              </div> -->
            <h2 class="mat-title text-dark">Detalles</h2>

            <!-- <div [fxHide]="detail$">No existen documentos</div> -->

            <div
              class="alert"
              fxLayout="row"
              fxLayoutGap="10px"
              [fxHide]="detail$"
            >
              <div>
                <mat-icon class="icon-alert">error</mat-icon>
              </div>
              <div>No se han encontrado elementos.</div>
            </div>

            <div *ngIf="entity$|async">
              <div>
                <maintenance-detail [detail]="detail$"></maintenance-detail>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
