.input-code-sae{
    width: 250px;
}

.second-input{
    float: right;
}
.title-preregister{
width: 100%;
display: block;
text-align: center;
font-size: 20px;
margin: 20px;
}

.regist-preregist-button{
    float: right;
}