<div class="content">
  <mat-card>
    <div class="title">
      <h5>Mostrar información</h5>
    </div>
    <div class="date" [formGroup]="form">
      <div class="start">
        <mat-label><strong>De:</strong></mat-label>
        <mat-form-field color="accent" appearance="fill">
          <input
            matInput
            [matDatepicker]="dateStart"
            formControlName="dateStart"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateStart"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #dateStart
            color="primary"
            disabled="false"
          ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="end">
        <mat-label><strong>Hasta:</strong></mat-label>
        <mat-form-field color="accent" appearance="fill">
          <input matInput [matDatepicker]="dateEnd" formControlName="dateEnd" />
          <mat-datepicker-toggle
            matSuffix
            [for]="dateEnd"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #dateEnd
            color="primary"
            disabled="false"
          ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="button">
        <button
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
          (click)="sendData()"
        >
          Mostrar
        </button>
      </div>
    </div>
    <div class="filter">
      <h5>Filtrar por:</h5>
      <div class="contentFilter">
        <div class="tienda">
          <h6>Tiendas</h6>

          <div *ngFor="let item of _store">
            <mat-checkbox #checkBox [value]="item" (change)="getCheckbox(checkBox)">  
                 {{item}} 
            </mat-checkbox>
       </div>
        </div>
        <div class="maquinas">
          <h6>Maquinas</h6>
          <div *ngFor="let item of _devices">
            <mat-checkbox #checkBox2 [value]="item" (change)="getCheckbox2(checkBox2)">  
                 {{item}} 
            </mat-checkbox>
       </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
