.content {
    mat-card {
        min-width: 600px;
        min-height: 160px;
        .title {
        }
        .date {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-size: 12px;
            .button {
                margin-top: 5px;
            }
        }
    }
    .filter{
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        .contentFilter{
            display: flex;
            flex-direction: row;
        }
    }
}
