.rolpicker{
  margin-top: 20px;
  margin-bottom: 20px;  
}
.titleRoutes{
  text-align: center;
}
.addRoute{
  width: 150px;
}
.btn-register-container{
  text-align: right;
}
.alert{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}