<div
  class="mat-body"
  fxLayout="row"
  fxLayoutGap="5px"
  fxLayoutAlign="space-between center"
  class="tag"
>
  <div class="title">{{ document.name }}</div>
  <div class="buttons">
    <button mat-flat-button color="primary"(click)="downloadExcel(document)" >
      <span class="material-icons">
        vertical_align_bottom
        </span>
        Excel
      </button>
    <button mat-flat-button color="primary"(click)="downloadpdf(document)" >
      <span class="material-icons">
        vertical_align_bottom
        </span>
        PDF
      </button>
  </div>
</div>
