.image {
  max-width: 241px;
  max-height: 175px;
  min-width: 240px;
  min-height: 174px;
  background-color: #ededed;
}
img{
  min-width: 240px;
  min-height: 174px;
  max-width: 241px;
  max-height: 175px;
}

p{
  text-align: center;
}
