.image {
  max-width: 241px;
  max-height: 175px;
  min-width: 240px;
  min-height: 174px;
  background-color: #ededed;

  &__container {
    max-width: 241px;
    max-height: 175px;
    min-width: 240px;
    min-height: 174px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
img{
  min-width: 240px;
  min-height: 174px;
  max-width: 241px;
  max-height: 175px;
}

p {
  text-align: center;
}
