.main-container {
  height: calc(100vh - 64px);
  background: linear-gradient(
    to bottom,
    #eef1f6 0%,
    #eef1f6 77%,
    #eef1f6 78%,
    #eef1f6 79%
  );
  background-color: #eef1f6;
  overflow-x: auto;
}
