<mat-toolbar class="mat-toolbar">
  <div fxFlex class="mat-h3" fxLayout="row" fxLayoutAlign="space-between center" style="padding: 0 20px; height: 64px;
    margin: 0;">
    <img class="logo" src="\assets\images\grupo-6.svg" alt="logo" />

    <div fxLayoutGap="25px" fxLayout="row">
      <div fxLayout="row" fxLayoutGap="15px">
        <div class="content-links-products" routerLinkActive="active" >
          <a class="nav" mat-list-item routerLinkActive="active" routerLink="/products/edit-product" style="display: none" > Productos </a>
          <a class="nav" mat-list-item routerLinkActive="active" routerLink="/products/list-products" >Productos </a>
        </div>
        <a class="nav" mat-list-item routerLink="/quality/history" routerLinkActive="active">
          Historial
        </a>
        <a class="nav" mat-list-item routerLink="/quality/maintenance" routerLinkActive="active">
          Mantenimiento
        </a>
        <a class="nav" mat-list-item routerLink="/customers/create-client" routerLinkActive="active">
          Clientes
        </a>
        <a class="nav" mat-list-item routerLink="/machines/machine" routerLinkActive="active">
          Maquinas
        </a>
        <a class="nav" mat-list-item routerLink="/fridge/fridge" routerLinkActive="active">
          Congeladores
        </a>
      </div>
    </div>
    <div>
      <a mat-list-item routerLinkActive="active" (click)="logout()">
        Cerrar sesión
        <!-- <div fxLayoutAlign="center center" >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </div> -->
      </a>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content fxFlexFill>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>