h1{
    text-align: center;
}
.container{
    height: 100%;
}
.table{
    height: max-content;
}
.footer-buttons{
    width: 100%;
    height: 10%;
}

.button-report{
    float: right;
}

.table-layout{
    width: 100%;
}