<div>
    <div>
        <h4>Listado de {{typeFilter}}</h4>
    </div>
    <div class="searcher">
        <form [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Por Clave/Nombre</mat-label>
            <input matInput type="text" formControlName="hint">
          </mat-form-field>
          <button *ngIf="!isFiltered" mat-raised-button class="add_client" (click)="search()">Buscar</button>  
          <button *ngIf="isFiltered" mat-raised-button color="warn" class="add_client" (click)="cancelSearch()">Cancelar</button>  
        </form>
        
    </div>
    <div class="list-clients">
        <div class="loading-list-clients" *ngIf="isLoading">
            <mat-spinner [diameter]="70"></mat-spinner>
        </div>
        
        <div class="item-list" *ngFor="let client of clientsListTemp; let index=index">

            <div class="item-list-client">
                {{client.key}}    {{client.name}}
            </div>
            <button *ngIf="!client.isSelected" mat-raised-button (click)="select(index)" class="item-list-client-details">Seleccionar</button>
            <button *ngIf="client.isSelected" color="warn" mat-raised-button (click)="removeSelect(index)" class="item-list-client-details">Cancelar</button>
        </div>
    </div>
<button mat-raised-button color="warn" (click)="cancel()"> Cancelar </button>
<button mat-raised-button color="primary" (click)="accept()"> Aceptar </button>
<button *ngIf="!isSelectedAll" mat-raised-button color="default"  (click)="all()"> Todos </button>
<button *ngIf="isSelectedAll" mat-raised-button color="default"  (click)="deselectAll()"> Desseleccionar todos </button>
</div>