.title{
    text-align: center;
}
.list-clients{
    align-self: center;
    width: 60%;
}
.buttons-container{
    display: block;
    text-align: center;
}
.button-report{
    margin: 10px;
}
.spinner-report{
    margin-left: 47%;
}