@import "styles/main.scss";

body {
  min-height: 100vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  width: 125px;
  height: auto;
  color: #575552;
}

.text-muted {
  font-family: "Inter";
  color: rgba($color: #000000, $alpha: 0.35);
}

.link {
  text-decoration: none;
}

.page {
  height: calc(100vh - 64px);
  overflow: auto;
  padding: 10px;
}
